################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/AGV_Mark6/obj/Debug/net6.0-windows
/.vs
/AGV_Mark6/obj/Debug/net6.0-windows/ref/AGV_Mark6.dll
/AGV_Mark6/obj/Debug/net6.0-windows/AdditionWindows/Control_AGV.g.cs
/AGV_Mark6/obj/Debug/net6.0-windows/AdditionWindows/Control_AGV.g.i.cs
/AGV_Mark6/obj/Debug/net6.0-windows/AdditionWindows/NewAgvProgram.g.cs
/AGV_Mark6/obj/Debug/net6.0-windows/AdditionWindows/NewAgvProgram.g.i.cs
/AGV_Mark6/obj/Debug/net6.0-windows/AdditionWindows/RoutesSelector.g.cs
/AGV_Mark6/obj/Debug/net6.0-windows/AdditionWindows/RoutesSelector.g.i.cs
/AGV_Mark6/bin/Debug/net6.0-windows/AGV-Log.txt
/AGV_Mark6/bin/Debug/net6.0-windows/AGV-Log_ModbusConnection.txt
/AGV_Mark6/bin/Debug/net6.0-windows/AGV-Log_Ping.txt
/AGV_Mark6/bin/Debug/net6.0-windows/AGV_Mark6.dll
/AGV_Mark6/bin/Debug/net6.0-windows/AGV_Mark6.exe
/AGV_Mark6/bin/Debug/net6.0-windows/AGV_Mark6.pdb
/AGV_Mark6/obj/Debug/net6.0-windows/refint/AGV_Mark6.dll
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.AssemblyInfo.cs
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.AssemblyInfoInputs.cache
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.assets.cache
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.csproj.AssemblyReference.cache
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.csproj.CoreCompileInputs.cache
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.csproj.FileListAbsolute.txt
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.dll
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.GeneratedMSBuildEditorConfig.editorconfig
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.genruntimeconfig.cache
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6.pdb
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6_MarkupCompile.cache
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6_MarkupCompile.i.cache
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6_MarkupCompile.i.lref
/AGV_Mark6/obj/Debug/net6.0-windows/AGV_Mark6_MarkupCompile.lref
/AGV_Mark6/obj/Debug/net6.0-windows/App.g.cs
/AGV_Mark6/obj/Debug/net6.0-windows/App.g.i.cs
/AGV_Mark6/obj/Debug/net6.0-windows/apphost.exe
/AGV_Mark6/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.cs
/AGV_Mark6/obj/Debug/net6.0-windows/GeneratedInternalTypeHelper.g.i.cs
/AGV_Mark6/obj/Debug/net6.0-windows/MainWindow.g.cs
/AGV_Mark6/obj/Debug/net6.0-windows/MainWindow.g.i.cs
/AGV_Mark6/obj/AGV_Mark6.csproj.nuget.dgspec.json
/AGV_Mark6/obj/AGV_Mark6.csproj.nuget.g.props
/AGV_Mark6/obj/project.assets.json
/AGV_Mark6/obj/project.nuget.cache
